{% extends 'index.html' %}
{% load static %}
{% block content %}
<div>
    <center>
        <h1 class="head1-about">ABOUT <span style="color: aqua;">DATKBYTE HUB</span></h1>
        <hr width="370px" style="margin-left: 180px; color: aqua;">
        <p class="para-about">We are a premier cyber security firm dedicated to protecting the digital assets of modern
            enterprises. <br> Founded by
            elite ethical hackers and security researchers, we bring a proactive, offensive mindset to defensive
            security.
        </p>
    </center>
</div>

<section>
    <div class="info-container">

        <div class="info-box">
            <h3 class="head3">OUR MISSION</h3>
            <p class="para1">
                To create a secure digital ecosystem where businesses can thrive without fear of cyber threats.
                We believe that security is not just a compliance requirement, but a competitive advantage.
            </p>
        </div>

        <div class="info-box">
            <h3 class="head3">OUR METHODOLOGY</h3>
            <p class="para1">
                We employ the same tactics, techniques, and procedures (TTPs) used by real-world adversaries.
                By thinking like a hacker, we can better defend against them. Our approach is rigorous,
                data-driven.
            </p>
        </div>

    </div>

    <div class="info-container">

        <div class="info-box">
            <h3 class="head3">OUR IDEAS</h3>
            <p class="para1">
                Performed security testing and risk analysis to identify system vulnerabilities in IT infrastructure.
                Strengthened application security by implementing authentication controls and preventive security.
            </p>
        </div>

        <div class="info-box">
            <h3 class="head3">OUR TEAMWORK</h3>
            <p class="para1">
                We work as a cohesive IT team, combining expertise in development, security, and system management. By
                leveraging collective skills and agile methodologies, we deliver efficient and scalable.
            </p>
        </div>

    </div>
</section>

<section>

    <div class="experience-container">
        <div class="experience-box">
            <h3 class="head1-number" style="color: green;">10+</h3>
            <p class="para1">YEAR EXPERIENCE</p>
        </div>

        <div class="experience-box">
            <h3 class="head1-number" style="color: skyblue;">500+</h3>
            <p class="para1">PROJECTS</p>
        </div>

        <div class="experience-box">
            <h3 class="head1-number" style="color: green;">10k+</h3>
            <p class="para1">VULNERABILITIES</p>
        </div>

        <div class="experience-box">
            <h3 class="head1-number" style="color: skyblue;">50+</h3>
            <p class="para1">SECURITY EXPERTS</p>
        </div>
    </div>

</section><br>

{% endblock %}