{% load static %}
<div class="footer">
    <div>
        <h5 class="head5-footer">DARKBYTE HUB</h5>
        <p class="para1" style="color: gray;">Securing the digital frontier with advanced <br> cybersecurity solutions.
            We
            protect what <br> matters most to your
            business.</p>
    </div>

    <div>
        <h5 class="head5-footer">SERVICES</h5>
        <a href="" class="para-footer">Vulnerability Assessment</a>
        <a href="" class="para-footer">Penetration Testing</a>
        <a href="" class="para-footer">Security Operations Center</a>
        <a href="" class="para-footer">Security Audits</a>
    </div>

    <div>
        <h5 class="head5-footer">TRAINING</h5>
        <a href="" class="para-footer">Certified Ethical Hacker</a>
        <a href="" class="para-footer">CompTIA Security+</a>
        <a href="" class="para-footer">Network Defense</a>
        <a href="" class="para-footer">Linux Administration</a>
    </div>

    <div>
        <h5 class="head5-footer">CONTACT US</h5>
        <a href="" class="para-footer">+91 8754753199</a>
        <a href="" class="para-footer">darkbytehub@gmail.com</a>
        <a href="" class="para-footer">Cyber City, Tech Hub</a>
    </div>

    <div class="footer-bottom">
        <p class="para1" style="font-size:16px; color: gray;">
            © 2026 DarkByte Hub. All rights reserved.
        </p>
    </div>
</div>