{% extends 'index.html' %}
{% load static %}

{% block content %}

    <div>
        <center class="head-main">
            <h1 class="head">SECURING THE <br>
                DIGITAL WORLD</h1>
            <p class="para">Elite cybersecurity solutions for the modern enterprise. VAPT, SOC, and advanced threat
                defense.</p>
            <a href="" class="cyber-btn">GET SECURITY ADUIT</a>
            <a href="" class="contact-btn">CONTACT US</a>
        </center>
    </div><br><br><br><br><br>

    <center>
        <h1 class="head1">CORE <span>DEFENSES
                <hr width="180px" style="margin-left: 100px;">
            </span></h1>
    </center><br>

    <div class="service-div">
        <div class="service-box">
            <h3 class="head3" style="font-size: 17px;">VAPT</h3>
            <hr style="color: white;">
            <p class="para1">
                VAPT Comprehensive Vulnerability Assessment <br>
                & Penetration Testing for your
                infrastructure.
            </p>
            <a href="#" class="learn-btn">Learn More</a>
        </div>

        <div class="service-box">
            <h3 class="head3" style="font-size: 17px;">NETWORK SECURITY</h3>
            <hr style="color: white;">
            <p class="para1">
                Hardened network architecture and real-time monitoring against intrusions.
            </p>
            <a href="#" class="learn-btn">Learn More</a>
        </div>

        <div class="service-box">
            <h3 class="head3">SOC SRERVICES</h3>
            <hr style="color: white;">
            <p class="para1">
                24/7 Security Operations Center monitoring to detect and respond to threats.
            </p>
            <a href="#" class="learn-btn" style="margin-top: 20px;">Learn More</a>
        </div>

        <div class="service-box">
            <h3 class="head3">CYBER TRAINING</h3>
            <hr style="color: white;">
            <p class="para1">
                Expert-led courses in Ethical Hacking, Linux, and Network Defense.
            </p>
            <a href="#" class="learn-btn" style="margin-top: 20px;">Learn More</a>
        </div>
    </div><br>

    <section class="stats-section">
        <center>
            <h1 class="head1-down">TRUSTED BY INDUSTRY LEADERS TO SECURE THEIR FUTURE</h1>
        </center>

        <div class="stats-container">
            <div>
                <h1 class="head1"><span>500+</span></h1>
                <p class="para1">AUDITS COMPLETED</p>
            </div>

            <div>
                <h1 class="head1"><span>99.9%</span></h1>
                <p class="para1">THRRET DETECTION</p>
            </div>

            <div>
                <h1 class="head1"><span>24/7</span></h1>
                <p class="para1">ACTIVE MONITORING</p>
            </div>

            <div>
                <h1 class="head1"><span>100+</span></h1>
                <p class="para1">CERTIFIED EXPERTS</p>
            </div>
        </div>
    </section><br><br>

{% endblock %}