{% extends 'index.html' %}
{% load static %}

{% block content %}

<center>
    <h1 class="head1-train">CYBER <a href="{% url 'training' %}">TRAINING</a>/<a href="{% url 'trainer' %}">TRAINER</a></h1>
</center>

<div class="train-container">

    <div class="train-box">
        <h3 class="head3-train">CERTIFIED ETHICAL HACKER (CEH)</h3>
        <div class="para1-train">
            <p>✓ Hands-on Labs</p>
            <p>✓ Latest Hacking Tools</p>
            <p>✓ Real-world Scenarios</p>
            <p>✓ Exam Voucher Included</p>
        </div>
        <a href="#" class="train-btn">ENROLL NOW</a>
    </div>

    <div class="train-box">
        <h3 class="head3-train">COMPUTER SECURITY+</h3>
        <div class="para1-train">
            <p>✓ Core Security Concepts</p>
            <p>✓ Risks managenment</p>
            <p>✓ Cryptography</p>
            <p>✓ Network Security</p>
        </div>
        <a href="#" class="train-btn">ENROLL NOW</a>
    </div>

    <div class="train-box">
        <h3 class="head3-train">COMPUTER NETWORK+</h3>
        <div class="para1-train">
            <p>✓ Network Architecture</p>
            <p>✓ TCP/IP Protocols</p>
            <p>✓ Troubleshooting</p>
            <p>✓ Network operations</p>
        </div>
        <a href="#" class="train-btn">ENROLL NOW</a>
    </div>

</div>

<div class="train-container">

    <div class="train-box">
        <h3 class="head3-train">LINIUX ADMINISTRATION</h3>
        <div class="para1-train">
            <p>✓ Command Line Mastery</p>
            <p>✓ Shell Scripting</p>
            <p>✓ System Configuration</p>
            <p>✓ User managenment</p>
        </div>
        <a href="#" class="train-btn">ENROLL NOW</a>
    </div>

    <div class="train-box">
        <h3 class="head3-train">CISCO CERTIFIED NETWORK ASSOCIATE</h3>
        <div class="para1-train">
            <p>✓ Routing & Switching</p>
            <p>✓ IP Connectivity</p>
            <p>✓ Network Access</p>
            <p>✓ Automation Basics</p>
        </div>
        <a href="#" class="train-btn">ENROLL NOW</a>
    </div>

    <div class="train-box">
        <h3 class="head3-train">ADVANCE PENETRATION TESTING</h3>
        <div class="para1-train">
            <p>✓ Exploit Development</p>
            <p>✓ Advanced Evasion</p>
            <p>✓ Active Directory Attacks</p>
            <p>✓ Red Teaming</p>
        </div>
        <a href="#" class="train-btn">ENROLL NOW</a>
    </div>

</div>

{% endblock %}